version: '3.7'
services: 

    dc_mysql: 
        image: mysql:5.7
        ports: 
            - "3307:3306"
        container_name: mysql_container
        command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        environment: 
            - TZ=Asia/Shanghai
            - MYSQL_ROOT_PASSWORD=123456
        volumes: 
            - "/home/admas/temp/mysql/data/:/var/lib/mysql"
            - "/home/admas/temp/mysql/conf/conf.d:/etc/mysql/conf.d" # 目录 /home/admas/temp/mysql/conf/conf.d 存在
        restart: "on-failure"
        labels: 
            -  "com.example.description=mysql database"
            -  "com.example.department=test"